<mat-toolbar  color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Users</span>
  <span class="spacer"></span>
  <a mat-icon-button target="_blank" href="https://github.com/minajacob/UsersList">
    <mat-icon>code</mat-icon>
  </a>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav #drawer class="sidenav" mode="side" opened>
  
    <mat-nav-list class="menu">
      <mat-list-item routerLink="users" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a matLine>Users List</a>
        <button mat-icon-button>
          <mat-icon>format_list_bulleted</mat-icon>
        </button>
      </mat-list-item>
  
      <mat-list-item routerLink="users/new" routerLinkActive="active">
        <a matLine>Add User</a>
        <button mat-icon-button>
          <mat-icon>person_add_alt</mat-icon>
        </button>
      </mat-list-item>
  
      <mat-list-item *ngFor="let id of [1,2,3,4,5]" [routerLink]="'users/'+id" routerLinkActive="active">
        <a matLine>User {{id}}</a>
        <button mat-icon-button>
          <mat-icon>person</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>

  

</mat-sidenav-container>