.spacer {
    flex: 1 1 auto;
}

.sidenav-container {
    height: calc(100% - 64px);

    @media (max-width: 599px) {
        height: calc(100% - 56px);
    }
}

.sidenav-content {
    margin: 25px;
}

.sidenav {
    min-width: 250px;
}

::ng-deep {
    .mat-dialog-content {
        background: #2d2d2d;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
}

.menu {
    .active {
        background-color: #7b1fa2;
    }
}