.user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    background-size: cover;
}

.mat-row:hover {
    .mat-column-actions {
        visibility: visible;
    }
}

.mat-column-actions {
    visibility: hidden;
}

.mat-icon {
    font-size: 20px;
}